
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">



<header>
    <img class="img4" src="~/Images/awardtug_of_war1p-h_2017.jpg" />
</header>
<br />
<img class="img1" src="~/Images/oscarselfie.gif" />
<br />

<p class="textp">
    The Academy Awards, also known as the Oscars, is the world's most prestigious film award.<br />
    The most interesting category, the one everyone is waiting for is the Best Picture category.<br />
    It is a dream of every actor, director, producer and studio to win an Oscar, especially in this category.<br />
    So in my project i decided to check how to win an Oscar for best picture category.
</p>
<br />
<img class="img1" src="~/Images/giphy4.gif" />
<br />
<p class="textp">
    i wanted to see whether certain features have an impact of winning an Oscar?<br />
    features such as: other awards show (like Golden globe, BAFTA awards, and etc),<br />
    IMDb score, critics score, running time, release date and etc. To test this, i used a decision tree algorithm.<br />
    With the help of the decision tree, i tried to predict which films will win the Oscar.
</p>
<img class="img1" src="~/Images/img4.jpg" />
<br />

<br />
 <img class="img1" src="~/Images/25_actors_actresses_0023_v1_mt.jpg" />
<br />
<p class="textp">
    The data was taken from a an open source project.<br />
    The data included all the candidates and Oscar winners since 1980,<br /> 
    meaning i had 218 observations.
   
</p>


<br />
<div>
    @Html.ActionLink("The Report", "Report", "Home")
</div>
<img class="img1" src="~/Images/giphy.gif" />
<br />
<p class="textp">
    <b>Credits:</b><br />
    Data from <a href="https://github.com/scruwys/and-the-award-goes-to">and-the-award-goes-to</a><br />
    <a href="http://accord-framework.net">Accord.NET Framework</a>
</p>
